---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cyberrootmusic
spec:
  replicas: 3
  selector:
    matchLabels:
      app: cyberrootmusic
  template:
    metadata:
      labels:
        app: cyberrootmusic
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9113"
        prometheus.io/path: "/metrics"
    spec:
      volumes:
      - name: nginx-logs
        emptyDir: {}
      containers:
        - name: cyberrootmusic
          image: "ghcr.io/nekko-lab/cyberrootmusic-vol2:f03605c729419723e49b591c431c47bbb4f11b23"
          resources:
            limits:
              memory: "2048Mi"
              cpu: "1"
            requests:
              memory: "256Mi"
              cpu: "250m"
          volumeMounts:
          - name: nginx-logs
            mountPath: /var/log/nginx          
        - name: nginx-exporter
          image: "nginx/nginx-prometheus-exporter:1.5.1"
          args:
            - -nginx.log-path=/var/log/nginx/access.log
          ports:
          - containerPort: 9113
            name: metrics
          volumeMounts:
          - name: nginx-logs
            mountPath: /var/log/nginx
            readOnly: true
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "100m"
              memory: "128Mi"