name: ci

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      REGISTRY: ghcr.io
      IMAGE: "ghcr.io/${{ github.repository }}:${{ github.sha }}" # nekko-lab/tsudanuma25-hp:SHA
      WORK_DIR: ""
    
    permissions:
      contents: write
      packages: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./container/Dockerfile
          push: true
          tags: ${{ env.IMAGE }}

      - name: Change docker image
        uses: mikefarah/yq@master
        with:
          cmd: yq '.spec.template.spec.containers[0].image = env(IMAGE)' -i ${{ env.WORK_DIR }}container/manifest/sync/fire-deployment.yaml
      
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "ci(fire): Update image to ${{ github.sha }}"